In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://ekamakhsusan:Ekamlaran1@cluster0.1r9ch.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Untuk memastikan koneksi berhasil
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
# Contoh data karyawan yang akan dimasukkan
employee_data = {
    "name": "John Doe",
    "age": 30,
    "position": "Software Engineer",
    "salary": 70000
}

# Menambahkan data ke koleksi
collection.insert_one(employee_data)
print("Data inserted successfully")

Data inserted successfully

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672901fbd3789c42629cb54b'), 'name': 'John Doe', 'age': 30, 'position': 'Software Engineer', 'salary': 70000}

In [ ]:
# Menambahkan beberapa data karyawan
additional_employees = [
    {'name': 'Eka', 'department': 'HR', 'age': 20, 'salary': 5200},
    {'name': 'Ritsuki', 'department': 'IT', 'age': 28, 'salary': 6000},
    {'name': 'Natsuki', 'department': 'Finance', 'age': 30, 'salary': 4800},
]

# Menginsert data ke dalam koleksi
collection.insert_many(additional_employees)
print('Data tambahan telah dimasukkan')

Data tambahan telah dimasukkan

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672901fbd3789c42629cb54b'), 'name': 'John Doe', 'age': 30, 'position': 'Software Engineer', 'salary': 70000}
{'_id': ObjectId('67290214d3789c42629cb54c'), 'name': 'Eka', 'department': 'HR', 'age': 20, 'salary': 5200}
{'_id': ObjectId('67290214d3789c42629cb54d'), 'name': 'Ritsuki', 'department': 'IT', 'age': 28, 'salary': 6000}
{'_id': ObjectId('67290214d3789c42629cb54e'), 'name': 'Natsuki', 'department': 'Finance', 'age': 30, 'salary': 4800}

In [ ]:
# Update gaji karyawan
collection.update_one({'name': 'Eka'}, {'$set': {'salary': 5000}})
print('Gaji telah diupdate')

for employee in collection.find():
    print(employee)

Gaji telah diupdate
{'_id': ObjectId('672901fbd3789c42629cb54b'), 'name': 'John Doe', 'age': 30, 'position': 'Software Engineer', 'salary': 70000}
{'_id': ObjectId('67290214d3789c42629cb54c'), 'name': 'Eka', 'department': 'HR', 'age': 20, 'salary': 5000}
{'_id': ObjectId('67290214d3789c42629cb54d'), 'name': 'Ritsuki', 'department': 'IT', 'age': 28, 'salary': 6000}
{'_id': ObjectId('67290214d3789c42629cb54e'), 'name': 'Natsuki', 'department': 'Finance', 'age': 30, 'salary': 4800}

In [ ]:
# Menghapus karyawan yang berusia di bawah 25 tahun
collection.delete_many({'age': {'$lt': 25}})
print('Karyawan di bawah 25 tahun telah dihapus')

for employee in collection.find():
    print(employee)

Karyawan di bawah 25 tahun telah dihapus
{'_id': ObjectId('672901fbd3789c42629cb54b'), 'name': 'John Doe', 'age': 30, 'position': 'Software Engineer', 'salary': 70000}
{'_id': ObjectId('67290214d3789c42629cb54d'), 'name': 'Ritsuki', 'department': 'IT', 'age': 28, 'salary': 6000}
{'_id': ObjectId('67290214d3789c42629cb54e'), 'name': 'Natsuki', 'department': 'Finance', 'age': 30, 'salary': 4800}

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': None, 'average_salary': 70000.0}
{'_id': 'IT', 'average_salary': 6000.0}
{'_id': 'Finance', 'average_salary': 4800.0}

In [ ]:
# 4 LATIHAN TUGAS TAMBAHAN
products = [
    {'name': 'Laptop', 'category': 'Elektronik', 'price': 1000},
    {'name': 'Smartphone', 'category': 'Elektronik', 'price': 700},
    {'name': 'Tablet', 'category': 'Elektronik', 'price': 300},
    {'name': 'Headphone', 'category': 'Aksesoris', 'price': 150},
    {'name': 'Jam Tangan Pintar', 'category': 'Aksesoris', 'price': 250},
    {'name': 'Kursi Meja', 'category': 'Perabot', 'price': 200},
    {'name': 'Mesin Kopi', 'category': 'Peralatan', 'price': 120},
    {'name': 'Blender', 'category': 'Peralatan', 'price': 80},
    {'name': 'Buku', 'category': 'Alat Tulis', 'price': 20},
    {'name': 'Pulpen', 'category': 'Alat Tulis', 'price': 5}
]

collection_products = db['products']
collection_products.insert_many(products)
print('Data produk telah dimasukkan')

Data produk telah dimasukkan

In [ ]:
# Menghitung rata-rata harga produk
average_price = collection_products.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]).next()['average_price']

# Query untuk menemukan produk dengan harga di atas rata-rata
products_above_average = collection_products.find({'price': {'$gt': average_price}})

print(f'Rata-rata harga produk: {average_price}')
print('Produk dengan harga di atas rata-rata:')
for product in products_above_average:
    print(product)

Rata-rata harga produk: 282.5
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('672903f7d3789c42629cb54f'), 'name': 'Laptop', 'category': 'Elektronik', 'price': 1000}
{'_id': ObjectId('672903f7d3789c42629cb550'), 'name': 'Smartphone', 'category': 'Elektronik', 'price': 700}
{'_id': ObjectId('672903f7d3789c42629cb551'), 'name': 'Tablet', 'category': 'Elektronik', 'price': 300}

In [ ]:
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

total_products_per_category = collection_products.aggregate(pipeline)

print('Total produk dalam setiap kategori:')
for result in total_products_per_category:
    print(result)

Total produk dalam setiap kategori:
{'_id': 'Elektronik', 'total_products': 3}
{'_id': 'Aksesoris', 'total_products': 2}
{'_id': 'Peralatan', 'total_products': 2}
{'_id': 'Alat Tulis', 'total_products': 2}
{'_id': 'Perabot', 'total_products': 1}

In [ ]:
# 5
# Menambahkan data karyawan ke dalam koleksi employees
employees = [
    {'name': 'Zhang Linghe', 'department': 'Finance', 'age': 26, 'salary': 4500},
    {'name': 'Allen Ren', 'department': 'HR', 'age': 35, 'salary': 5200},
    {'name': 'Cheng Yi', 'department': 'IT', 'age': 34, 'salary': 6000},
    {'name': 'Gong Jun', 'department': 'Finance', 'age': 31, 'salary': 4800},
    {'name': 'Hu Yitian', 'department': 'IT', 'age': 30, 'salary': 5500},
    {'name': 'Arthur Chen', 'department': 'Marketing', 'age': 24, 'salary': 4900},
    {'name': 'Neo Hou', 'department': 'HR', 'age': 27, 'salary': 3900},
    {'name': 'Ding Yuxi', 'department': 'IT', 'age': 29, 'salary': 6200},
]

# Menyisipkan data karyawan ke dalam koleksi
collection.insert_many(employees)
print('Data karyawan telah dimasukkan')

Data karyawan telah dimasukkan

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67290837d3789c42629cb561'), 'name': 'Zhang Linghe', 'department': 'Finance', 'age': 26, 'salary': 4500}
{'_id': ObjectId('67290837d3789c42629cb562'), 'name': 'Allen Ren', 'department': 'HR', 'age': 35, 'salary': 5200}
{'_id': ObjectId('67290837d3789c42629cb563'), 'name': 'Cheng Yi', 'department': 'IT', 'age': 34, 'salary': 6000}
{'_id': ObjectId('67290837d3789c42629cb564'), 'name': 'Gong Jun', 'department': 'Finance', 'age': 31, 'salary': 4800}
{'_id': ObjectId('67290837d3789c42629cb565'), 'name': 'Hu Yitian', 'department': 'IT', 'age': 30, 'salary': 5500}
{'_id': ObjectId('67290837d3789c42629cb566'), 'name': 'Arthur Chen', 'department': 'Marketing', 'age': 24, 'salary': 4900}
{'_id': ObjectId('67290837d3789c42629cb567'), 'name': 'Neo Hou', 'department': 'HR', 'age': 27, 'salary': 3900}
{'_id': ObjectId('67290837d3789c42629cb568'), 'name': 'Ding Yuxi', 'department': 'IT', 'age': 29, 'salary': 6200}

In [ ]:
pipeline = [
    {'$sort': {'salary': -1}},
    {'$group': {
        '_id': {'department': '$department', 'name': '$name'},
        'salary': {'$first': '$salary'}
    }},
    {'$group': {
        '_id': '$_id.department',
        'top_employees': {'$push': {'name': '$_id.name', 'salary': '$salary'}}
    }},
    {'$project': {
        'top_employees': {'$slice': ['$top_employees', 5]}
    }}
]

top_employees = collection.aggregate(pipeline)

print('5 Karyawan dengan gaji tertinggi dalam setiap departemen:')
for result in top_employees:
    print(result)

5 Karyawan dengan gaji tertinggi dalam setiap departemen:
{'_id': 'Finance', 'top_employees': [{'name': 'Gong Jun', 'salary': 4800}, {'name': 'Zhang Linghe', 'salary': 4500}]}
{'_id': 'Marketing', 'top_employees': [{'name': 'Arthur Chen', 'salary': 4900}]}
{'_id': 'IT', 'top_employees': [{'name': 'Ding Yuxi', 'salary': 6200}, {'name': 'Cheng Yi', 'salary': 6000}, {'name': 'Hu Yitian', 'salary': 5500}]}
{'_id': 'HR', 'top_employees': [{'name': 'Allen Ren', 'salary': 5200}, {'name': 'Neo Hou', 'salary': 3900}]}

In [ ]:
# Menghapus karyawan yang berusia di bawah 25 tahun
deleted_count = collection.delete_many({'age': {'$lt': 25}}).deleted_count
print(f'Jumlah karyawan yang dihapus: {deleted_count}')

Jumlah karyawan yang dihapus: 1

In [ ]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67290837d3789c42629cb561'), 'name': 'Zhang Linghe', 'department': 'Finance', 'age': 26, 'salary': 4500}
{'_id': ObjectId('67290837d3789c42629cb562'), 'name': 'Allen Ren', 'department': 'HR', 'age': 35, 'salary': 5200}
{'_id': ObjectId('67290837d3789c42629cb563'), 'name': 'Cheng Yi', 'department': 'IT', 'age': 34, 'salary': 6000}
{'_id': ObjectId('67290837d3789c42629cb564'), 'name': 'Gong Jun', 'department': 'Finance', 'age': 31, 'salary': 4800}
{'_id': ObjectId('67290837d3789c42629cb565'), 'name': 'Hu Yitian', 'department': 'IT', 'age': 30, 'salary': 5500}
{'_id': ObjectId('67290837d3789c42629cb567'), 'name': 'Neo Hou', 'department': 'HR', 'age': 27, 'salary': 3900}
{'_id': ObjectId('67290837d3789c42629cb568'), 'name': 'Ding Yuxi', 'department': 'IT', 'age': 29, 'salary': 6200}

In [ ]:
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]

salary_age_report = collection.aggregate(pipeline)

print('Laporan ringkas total gaji dan rata-rata umur karyawan di setiap departemen:')
for result in salary_age_report:
    print(result)

Laporan ringkas total gaji dan rata-rata umur karyawan di setiap departemen:
{'_id': 'Finance', 'total_salary': 9300, 'average_age': 28.5}
{'_id': 'HR', 'total_salary': 9100, 'average_age': 31.0}
{'_id': 'IT', 'total_salary': 17700, 'average_age': 31.0}